[user]
	email = abs2free@gmail.com
	name = abs2free
[url "git@code.aliyun.com:"]
	insteadOf = https://code.aliyun.com/
[core]
	excludesfile = /Users/abs2free/.gitignore_global
    pager = delta
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[url "git@codeup.aliyun.com:"]
	insteadOf = https://codeup.aliyun.com/
[url "git@github.com:"]
	insteadOf = https://github.com/
#[pull]
#	rebase = true
#[rebase]
#	autoStash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
[commit]
	template = /Users/wscrlhs/.stCommitMsg
[alias]
   lg = log --graph --pretty=format:'%Cred%h%Creset | %ad | %Cblue%d%Creset %s %Cgreen(%an)%Creset' --abbrev-commit --date=short
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
